.market {
    .input_md {
        .el-input__wrapper {
            background: var(--input-top);
            box-shadow: none;
        }
    }
    ul {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        gap: 6px;
        flex-wrap: wrap;
        li {
            border-radius: 27px;
            background: #111111;
            height: 27px;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.5px 13.5px;
            cursor: pointer;
        }
    }
    h2 {
        font-size: 20px;
        margin: 20px 0;
    }
    ol {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        li {
            min-width: 100%;
            min-height: 120px;
            padding: 16px;
            background: #111111;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            gap: 12px;
            box-sizing: border-box;
            border-radius: 8px;
            .title {
                font-size: 18px;
                font-weight: 600;
            }
            p {
                font-size: 14px;
                color: #6f6f6f;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2; /* 显示的行数 */
                overflow: hidden;
                text-overflow: ellipsis;
                height: 3em; /* 行高的倍数 */
                line-height: 1.5em; /* 行高 */
                max-height: 3em; /* 和height一致 */
            }
            .ul {
                display: flex;
                flex-direction: row;
                gap: 6px;
                flex-wrap: wrap;
                span {
                    color: #aaaaaa !important;
                    background: rgba(255, 255, 255, 0.10);
                    border: 5px;
                    font-size: 12px;
                    padding: 3px 7px;
                }
            }
        }
    }
}